.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.title {
    height: auto;
    max-width: inherit; // Зафиксированная ширина заголовка (пример: 150px ≈ 37.5vw)
  
    margin-top: 1.5vh; // Отступ сверху (пример: 26px ≈ 6.5vh)
    font-size: 1.25rem; // Оставляем в rem
    font-weight: bold; // Жирный шрифт
    color: white; // Цвет текста белый
    margin-bottom: 1.5vh; // Отступ снизу (пример: 15px ≈ 1.5vh)
    text-align: left; // Выравнивание текста влево
    text-transform: uppercase; // Преобразуем текст в верхний регистр
  }

  
  .input[type="text"] {
    margin-top: 1.6vh; // Отступ сверху (пример: 8px ≈ 1.6vh)
    padding: 1.25vh; // Отступ внутри (пример: 10px ≈ 1.25vh)
    border: 0.1vw solid #ccc; // Ширина границы (пример: 1px ≈ 0.1vw)
    border-radius: 0.5vh; // Скругление углов (пример: 5px ≈ 0.5vh)
    font-size: 14px; // Оставляем в px или переводим в rem
    transition: border-color 0.3s ease;
    flex-grow: 1; /* Позволяет элементу занимать доступное пространство */
    max-width: 400px; // Максимальная ширина (оставляем в px или переводим в vw, если нужно)
    width: 100%; /* Занимаем всю ширину родителя для адаптивности */
    color: #f9f7f7; // Цвет текста в поле ввода
    margin-right: 0; // Убираем отступ справа
    margin-left: 0.7vh;

    &:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }
.button{
  background-color: #ff6600; /* Основной оранжевый цвет проекта */
  color: white;
  border: none;
  border-radius: 5px; /* Легкое закругление */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.name{
  margin-left: auto;
  margin-right: auto
}