$color-primary: #ff6600; 
$color-secondary: #fff; 
$color-background: #000000;
$color-medium: #2e2b2b;

// Шрифты
$font-family-primary: 'Josefin Sans', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;

// Размеры
$font-size-base: 1rem;      // 16px / 16 = 1rem
$font-size-medium: 1.5rem;  
$font-size-big: 2rem; 



$header-height-mobile: 80px;
// Отступы
$padding-base: 20px;
$margin-base: 15px;

$box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 70px 4px,


