.pageOfFightArt {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.71519) 50%, rgba(2, 2, 2, 1) 100%);
  flex-direction: column;
  align-items: center; /* Центрируем контент */
  justify-content: center; /* Центрируем по вертикали */
  gap: 7vh;

  @media (max-width: 738px) {
    flex-direction: column;
    background: linear-gradient(180deg, #121212 0%, #1c1c1c 100%);
    gap: 3vh;
  }
}

.figtArtItem {
  display: flex;
  gap: 5vh;
  justify-content: center; /* Центрируем */
  align-items: center; /* Выравниваем по центру */
  padding: 4vh;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding: 1vh;
  }
}

.oneFightArt {
  width: 100%; /* Вместо auto */
  max-width: 500px; /* Ограничиваем ширину */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background: linear-gradient(180deg, #121212 0%, #1c1c1c 100%);
  padding: 4vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 2vh;


  @media (max-width: 1024px) {
    padding: 1vh;
    width: 100%;
    max-width: 500px; /* Ограничиваем ширину в мобильном */
  }

  @media (max-width: 738px) {
    background: none;
    box-shadow: none;
    padding: 1vh;
    width: 100%;
    max-width: 400px; /* Ограничиваем ширину в мобильном */
  }
}

.oneFightArt:first-child,
.oneFightArt:last-child {
  margin-left: 0;
  margin-right: 0;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media (max-width: 738px) {
    width: 100%;
    max-width: 400px; /* Уменьшаем */
    height: auto;
  }
}

.titleOfArt {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0.48px;
  text-shadow: 1.2px 1.2px 3.6px rgba(0, 0, 0, 0.4);
  padding-left: 12px;
  transition: all 0.3s ease-in-out;
               @media (max-width: 1024px) {
                font-size: 20px;
                line-height: 26px;
              }
          
              @media (max-width: 768px) {
                font-size: 18px;
                line-height: 24px;
                padding: 0;
                text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
              }
          
              @media (max-width: 480px) {
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.5px;
              }
}

.title {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 38.4px; /* 64px * 0.6 */
  line-height: 38.4px; /* 64px * 0.6 */
  color: #ff6600;
  text-shadow: 1.2px 1.2px 2.4px rgba(0, 0, 0, 0.3); /* 2px * 0.6, 4px * 0.6 */
  margin-top: 7vh; /* 5vh * 0.6 */
  padding-left:2vh;
  padding-right: 2vh;
}