.containerGallery {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column; 
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 50%,  rgba(2, 2, 2, 0.4) 100%);
  position: relative;
  gap: 0; 
  padding-right: 90px;
  padding-left: 90px;
  padding-top: 30px;
  gap: 5px;

  @media (max-width: 1024px) {
    padding: 4vh;
    gap: 5vh;
    height: auto;
      }

  @media (max-width: 768px) {
    padding: 4vh;
    gap: 5vh;
    height: auto;
      }
}

.containerTitle{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  margin-left: auto;
}

.galleryTitle {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #fbfbfa;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: auto;
 
}



.galerryContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0; 

  @media (max-width: 1024px) {
display: flex;
flex-direction: column;
gap: 3vh;
      }
   
}

.centerImage {
  width: 65%; 
  height: auto;
  transform: scale(0.9); 
  object-fit: cover;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  transition: transform 0.3s ease;
  z-index: 2;


  @media (max-width: 1024px) {
    width: 100%;
    height: auto;
    transform: none;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    transform: none;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
      }
}

.centerImage:hover {
  transform: scale(0.97); 
}


.imageSide {
  width: 35%; 
  height: auto;
  border-radius: 0px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateX(-25.5%) scale(0.6); 
  z-index: 1;
  
  @media (max-width: 1024px) {
    display: none;
    
      }
}

/* Правое боковое изображение */
.imageSideRight {
  width: 35%; 
  height: auto;
  border-radius: 0px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translateX(110px) scale(0.6); 
  z-index: 1; 

  @media (max-width: 1024px) {
display: none;
  }
}

.buttonRight {
  z-index: 3;
  transform: translateX(-100%);
  cursor: pointer;

  @media (max-width: 768px) {
    transform: translateX(-214%) translateY(333%);
  }
}


.buttonLeft{
z-index: 3;
cursor: pointer;
transform: translateX(133%);

@media (max-width: 768px) {
  transform: translateX(239%) translateY(129px);
}
}

.buttons{
  display: flex;
  gap: 10vh;
}

.buttonRightMob {
  z-index: 3;
  transform: none;
  cursor: pointer;
}


.buttonLeftMob{
z-index: 3;
cursor: pointer;
transform: none;

}