@import "../../styles/variables.scss";

.trainerInfo {
    color: $color-secondary;
    width: 45vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 2rem;

    .services {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1.5rem;
  
      .serviceItem {
        font-size: 1.2rem;
        .icon {
          margin-right: 0.5rem;
        }
      }
    }
  
    .description {
      color: $color-secondary;
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
      text-align: left;
    }

  }
  