@import "../../styles/variables.scss";

.wrapper {
    background: $color-background;
    box-shadow:rgba(0, 0, 0, 0.5) 60px -50px 36px 28px inset, rgba(0, 0, 0, 0.5) 60px 50px 36px 28px inset;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img {
        width: 40vw;
        border-radius: 50%;
        box-shadow: rgba($color-medium, 0.56) 0px 22px 70px 4px;;
    }
  }
 svg .svg {
    width: 20px;
    height: 20px;
    fill: #ff6600;
  }
  
